body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    min-width: 30%;
    border-collapse: collapse;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
    color: #e0e0e0;
}

th {
    background-color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #2c2c2c;
}

tr:hover {
    background-color: #444;
}

a {
    margin: 10px 0;
    display: block;
    color: #82aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.instance {
    margin: 10px 0;
    padding: 0 8px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}